<% content_for :body_content_title do %>
  <%= @showcase_home.address %>
<% end %>

<% content_for :main_content do %>
  <section>
    <h1>Address</h1>
    <p>
      <%=raw @showcase_home.address %>
    </p>
  </section>
  <section>
    <h1>Images</h1>
    <p>
      <% @showcase_home.images.each do |i| %>
        <li>
          <%= link_to image_tag(i.thumbnail("200x200#c").url), i.thumbnail("900x600").url %>
        </li>
      <% end %>
    </p>
  </section>
  <section>
    <h1>Custom Teaser</h1>
    <p>
      <%=raw @showcase_home.custom_teaser %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @showcase_home.description %>
    </p>
  </section>
  <section>
    <h1>Price</h1>
    <p>
      <%=raw @showcase_home.price %>
    </p>
  </section>
  <section>
    <h1>Sale Date</h1>
    <p>
      <%=raw @showcase_home.sale_date %>
    </p>
  </section>
  <section>
    <h1>Specifics</h1>
    <p>
      <%=raw @showcase_home.specifics %>
    </p>
  </section>
<% end %>

<% content_for :excerpt_content do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="showcase_homes">
      <% @showcase_homes.each do |showcase_home| %>
        <li>
          <%= link_to showcase_home.address, showcase_home_path(showcase_home) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render :partial => "/shared/content_page" %>
